<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Pizza - registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div th:if="${param.success}">
                    <div class="alert alert-info">
                        Le produit a bien été rajouté !
                    </div>
                </div>


                <div class="col-md-12 appointment ftco-animate">
                    <h3 class="mb-3">Ajouter un produit</h3>
                    <form  method="post"
                           role="form"
                           th:action="@{/register/product}"
                           th:object="${produit}"
                           class="appointment-form">

                        <div class="form-group">
                            <label>Choisisez une catégorie : </label>
                            <select  th:field="*{categorie}" >
                                <option id="categorie"
                                        name="categorie" th:each="cat : ${categories}"
                                        th:value="${cat.id}"
                                        th:text="${cat.label}">
                                </option>
                            </select>

                        </div>

                        <div class="d-md-flex">
                            <div class="form-group">
                                <input class="form-control"
                                       id="nom"
                                       name="nom"
                                       required="required"
                                       placeholder="Label"
                                       th:field="*{label}"
                                       type="text">
                                <p th:errors = "*{label}" class="text-danger"
                                   th:if="${#fields.hasErrors('label')}"></p>
                            </div>
                        </div>
                        <div class="d-me-flex">
                            <div class="form-group">
                                <input   class="form-control"
                                         id="description"
                                         name="description"
                                         required="required"
                                         placeholder="Description"
                                         th:field="*{description}"
                                         type="text"
                                />
                                <p th:errors = "*{description}" class="text-danger"
                                   th:if="${#fields.hasErrors('description')}"></p>
                            </div>
                        </div>



                       
                        <div class="d-me-flex">
                            <div class="form-group">
                                <input   class="form-control"
                                         id="price"
                                         name="price"

                                         placeholder="Price"
                                         th:field="*{prix}"
                                         type="text"
                                />
                                <p th:errors = "*{prix}" class="text-danger"
                                   th:if="${#fields.hasErrors('prix')}"></p>
                            </div>
                        </div>




                        <div class="d-me-flex">
                            <div class="form-group">
                                <input   class="form-control"
                                         id="image"
                                         name="image"

                                         placeholder="Image"
                                         th:field="*{image}"
                                         type="text"
                                />
                                <p th:errors = "*{image}" class="text-danger"
                                   th:if="${#fields.hasErrors('image')}"></p>
                            </div>
                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn btn-primary py-2 px-3">Validez</button>
                            <a  th:href="@{/adminProd}" class="btn btn-white btn-outline-white py-2 px-3 ">Annuler</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <br /><br />
</div>
</body>
</html>