<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      >
<head>
    <title>Compte - modification</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
<div layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col-md-9 offset-md-3">
                <h2 style="color: white" class="h3">Liste des Produits</h2>
                <input class="form-control"  type="text" id="myInput" onkeyup="myFunction()" placeholder="Rechecher.." >

                <table id="myTable" style="color: #adb5bd" class="table table-responsive table-sm">
                    <thead >
                    <tr style="color: #fac564;" class="header">
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Catégorie</th>
                        <th>Prix</th>
                        <th>Evaluer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "produit : ${produits}">
                        <td th:text = "${produit.label}"></td>
                        <td th:text = "${produit.description}"></td>
                        <td th:text = "${produit.getCategorie().label}"></td>
                        <td th:text = "${produit.prix}"> <span> € </span>  </td>
                        <td> <a th:href="@{/evaluateProduit/{id}(id=${produit.produitId})}"  class="btn btn-primary py-1 px-2">Evaluer</a> </td>

                    </tr>

                    </tbody>
                </table>



            </div>

        </div>
    </div>
    <br /><br />
</div>
</body>
</html>