<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" >
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet">
  <link href="../static/css/open-iconic-bootstrap.min.css" th:href="@{/css/open-iconic-bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
  <link rel="stylesheet" href="../static/css/owl.theme.default.min.css" th:href="@{/css/owl.theme.default.min.css}">
  <link rel="stylesheet" href="../static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
  <link rel="stylesheet" href="../static/css/aos.css" th:href="@{/css/aos.css}">
  <link rel="stylesheet" href="../static/css/ionicons.min.css" th:href="@{/css/ionicons.min.css}">
  <link rel="stylesheet" href="../static/css/bootstrap-datepicker.css" th:href="@{/css/bootstrap-datepicker.css}">
  <link rel="stylesheet" href="../static/css/jquery.timepicker.css" th:href="@{/css/jquery.timepicker.css}">
  <link rel="stylesheet"  href="../static/css/flaticon.css"  th:href="@{/css/flaticon.css}">
  <link rel="stylesheet"  href="../static/css/icomoon.css" th:href="@{/css/icomoon.css}">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" th:href="@{/index}"><span class="flaticon-pizza-1 mr-1"></span>Oliv'Pizza<br><small>Authentic</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a th:href="@{/index}" class="nav-link"><span class=" icon fa fa-home"> </span> <span class="text"> ACCUEIL </span> </a></li>
        <li class="nav-item"><a th:href="@{/adminProd}" class="nav-link"><span class=" icon fa fa-list"> </span> <span class="text"> PRODUITS </span></a></li>
        <li class="nav-item"><a th:href="@{/adminProd}" class="nav-link"><span class=" icon fa fa-list"> </span> <span class="text"> COMMANDES </span></a></li>
        <li class="nav-item"><a th:href="@{/adminSpace}" class="nav-link"><span class=" icon fa fa-list"> </span> <span class="text"> CLIENTS </span></a></li>
        <li  class="nav-item"><a th:href="@{/logout}" class="nav-link "><span class=" icon fa fa-sign-out"> </span> <span class="text"> SE DECONNECTER </span> </a></li>
        <li  class=" nav-item"><a href="#"class="nav-link"><span class=" icon icon-user"></span> <span class="text" th:text="${connectedUser.firstName}"> </span></a></li>


      </ul>
    </div>
  </div>
</nav>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-4">


  <h2> Modifier Client</h2>
  <form action="#" th:action="@{/update/admin}" th:object="${user}"  method="POST">

    <input type="hidden" th:field="*{id}" placeholder="Employee First Name" class="form-control mb-4 col-4">

    <input type="text" required="required" th:field="*{firstName}" placeholder="Nom" class="form-control mb-4 col-4">

    <input type="text" required="required" th:field="*{lastName}" placeholder="Prénom" class="form-control mb-4 col-4">

    <input type="text" required="required" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

    <input type="text" required="required" th:field="*{password}" placeholder="Password" class="form-control mb-4 col-4">

    <input type="text" required="required" th:field="*{address}" placeholder="Adresse complète" class="form-control mb-4 col-4">

    <input type="text" required="required" th:field="*{tel}" placeholder="Tel" class="form-control mb-4 col-4">

    <button type="submit"  class="btn btn-primary py-2 px-3"> Validez</button>
    <a th:href="@{/adminSpace}" class="btn btn-white btn-outline-white py-2 px-3 ">Annuler</a>

  </form>

</div>
  </div>
</div>
<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Oliv'pizza</h2>
          <p>Livraison de pizza à domicile </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Horaires d'ouverture</h2>
          <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" th:style="'background-image:url(' + @{/images/pizza-1.jpg} + ');'"></a>
            <div class="text">
              <h3 class="heading"><a href="#">Lundi-Vendredi : 11h-14h | 18h-23h</a></h3>
              <h3 class="heading"><a href="#">Samedi : 12h-15h | 17h-23h</a></h3>
              <h3 class="heading"><a href="#">Dimanche : 18h-23h </a></h3>
              <h3 class="heading"><a href="#">Fermé les jours fériés </a></h3>

            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Services</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Pizza</a></li>
            <li><a href="#" class="py-2 d-block">Livraisons</a></li>
            <li><a href="#" class="py-2 d-block">Suivi</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Nous contacter </h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">210 Rue La fayette 75010 PARIS</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">0140433592</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">yacine.saib@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">


      </div>
    </div>
  </div>
</footer>
</body>
</html>